#details
  %h3 A 'Cablegate' Smart Mirror
  %p<
    Wikileaks was taken down by in a blatant attack on free speech.
  %p<
    This is a simple app that mirrors an archive of the 'cablegate' files in its public directory and which can easily be deployed to Heroku.
  %p<
    There is more to come but in the meantime 
    %a{ :href => '/index.html'} start here.
  - if @me != nil
    %p<
      This Mirror is running at #{@me.uri} Built from release #{@me.build_number}.
  -else
    %p<
      This Mirror is running at #{request.host_with_port} but is not yet in the Mirrors Database.
#mirrors
  - if @mirrors.empty?
    %p{:class => 'error'} There are NO mirrors loaded.
  - else
    %h2 Known Smart Mirrors.
    %table
      %tr<
        %th Name
        %th URI
        %th Build
        %th Expires
      - for m in @mirrors do
        %tr<
          %td #{m.name}
          %td<
            %a{:href => m.uri} #{m.uri}
          %td #{m.build_number}
          %td #{m.lease_expires ? m.lease_expires : 'never' }
