!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "#{i18n.locale.code}", :lang => "#{i18n.locale.code}" }
  %head
    %meta{ :'http-equiv' => "Content-Type", :content => "text/html; charset=UTF-8"}
    %link{ :href => "/static/css/cables.css", :rel => "stylesheet", :type => "text/css" }
    %link{ :href => "/static/css/reset-fonts-grids.css", :rel => "stylesheet", :type => "text/css" }
    %link{ :href => "/static/css/style.css", :rel => "stylesheet", :type => "text/css" }
    %title #{flash[:message]}#{flash[:warning]}#{flash[:error]}#{flash[:tip]}
  %body
    #header
      / template header content goes here
    #content
      / any flash messages.
      =styled_flash
      / the rest of the content goes here.
      = yield
    #footer
      / template footer content goes here
      %p<
        See the latest news by following the
        %a{:href => 'http://twitter.com/search/%23wikileaks'} wikileaks
        tag in Twitter. Fork
        %a{:href=>'https://github.com/davesag/cablegate'}the sourcecode
        if you wish.
      - if @me != nil
        %p<
          This Mirror is running at #{@me.uri} built from release #{@me.build_number}.
      -else
        %p<
          This Mirror is running at #{request.host_with_port}
      %p<
        %a{:href => '/announce' }Announce it to other mirrors.
